<a [routerLink]="['']">Back to catalog</a>


<div *ngFor="let watch of watches | groupBy: 'name'">
  <div class="view_line">
    <div class="name"  [routerLink]="['/watch/'+watch?.value[0].id]">
      {{watch?.key}}
    </div>
    <div class="count">
      <div class="count__descending" (click)="onReduceCount(watch?.value[0])">	&nbsp;-&nbsp;</div>
      {{watch?.value.length}}
      <div class="count__increase" (click)="onIncreaseCount(watch?.value[0])">	&nbsp;+&nbsp;</div>
    </div>
  </div>
  <hr/>
</div>





